*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator{
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
}

#display{
    width: 100%;
    height: 50px;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.buttons{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.btn{
    background: #444;
    color: white;
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.operator {
    background: #ff9500;
}

.clear{
    background: rgb(132, 90, 19);
    grid-column: span 4;
    text-align: center;
}