*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12FFF7;
    background: -webkit-linear-gradient(bottom,#43d8d8,
        #ccf6c7);
}

.button{
    width:10rem;
    height: 5rem;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    font-size: 1.6rem;
    background-color: grey;
    border:1px solid black;
    border-radius: 1rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transition: 3s;
}

.button:active{
    transform: translateY(100px);
}

@media screen and (max-width: 850px) {
    body {
        flex-direction: column;
        font-size: small;
    }
}


@media screen and (max-width: 500px) {
    .button {
        width: 5rem;
        font-size: small;

    }
}

