@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-weight: 700;
}
.quote-generator{
    background-color:yellow;
    max-width: 800px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(68, 58, 58, 0.5);
    box-shadow:  10px 10px 10px;
}

.quote{
    display: flex;
    gap: 2px;
    font-size: 2rem;
}
.auther{
    margin-top: 2px;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
}

.button{
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    outline: none;

}

#twitter-btn{
    cursor: pointer;
    border-radius: 7px;
    width: 4rem;
    height: 1.8rem;  
    background:rgb(120, 111, 111);
    color: white; 
    box-shadow: 0 0.3rem rgba(54, 37, 37, 0.7);
}
#new-quote{
    box-shadow: 0 0.2rem 0.3rem ;
    cursor: pointer;
    border-radius: 7px;
    height: 1.8rem;
    background: rgb(105, 95, 95);
    color: white;
    box-shadow: 0 0.3rem rgba(54, 37, 37, 0.7);
}

@media screen and (max-width:1000px) {
    .quote-generator{
        margin: auto 20px;

    }
    .quote{
        font-size: medium;
    }
    .auther{
        font-size: medium;
    }

    
}