body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
    color: #0f0;
    font-family: monospace;
}

.clock {
    font-size: 70px;
    letter-spacing: 2px;
}